<div class="entry">
    <h1>{{header}}</h1>
    {{#if error}}
        <h2>Ошибка!{{error}}</h2>
    {{/if}}
    <div class="body">
        <ul class="people_list">
            <form action="">
                <select name="col" id="news">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select>
            </form>
            <div class="content">
                {{#each date}}
                <h2>{{this}}</h2>
                {{/each}}
                {{#each title}}
                <p>{{this}}</p>
                {{/each}}
                {{#each content}}
                <p>{{this}}</p>
                {{/each}}
            </div>
        </ul>
    </div>
</div>